@import "tailwindcss";

@config "../../tailwind.config.ts";

@theme {
  --color-brand-dark: #324851;
  --color-brand-green: #86ac3e;
  --color-brand-teal: #32675c;
  --color-brand-soft: #7da2a1;
}

@layer base {
  body {
    background-color: #f9fafb;
    color: var(--color-brand-dark);
  }
}
